<mat-toolbar class="h-32" id="header">
    <mat-toolbar-row class="flex justify-between !h-full !items-center bg-red-400 sm:!flex-row-reverse">
        <menu class="block sm:hidden">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                @if (loginService.isLoggedIn()) {
                    @if(loginService.isAdmin()){
                        <button mat-menu-item [routerLink]="['churrascos']">Lista</button>
                        <button mat-menu-item [routerLink]="['churrascos/novo']">Novo</button>
                        <button mat-menu-item [routerLink]="['produtos']">Produto</button>
                    }@else {
                        <button mat-menu-item [routerLink]="['churrascos']">Lista</button>
                        <button mat-menu-item [routerLink]="['churrascos/novo']">Novo</button>
                    }
                    <a mat-menu-item (click)="logout()">Sair</a>
                  } @else {
                    <button mat-raised-button 
                    color="primary" 
                    class="button-start mb-6 "
                    (click)="openSignInDialog()"
                    >
                    Entrar
                     </button>
                  }
            </mat-menu>
        </menu>
        <menu class="hidden sm:flex">
            @if (loginService.isLoggedIn()) {
                @if(loginService.isAdmin()){
                    <button mat-menu-item [routerLink]="['churrascos']">Lista</button>
                    <button mat-menu-item [routerLink]="['churrascos/novo']">Novo</button>
                    <button mat-menu-item [routerLink]="['produtos']">Produto</button>
                }@else {
                    <button mat-menu-item [routerLink]="['churrascos']">Lista</button>
                    <button mat-menu-item [routerLink]="['churrascos/novo']">Novo</button>
                }
                
                <a mat-menu-item (click)="logout()">Sair</a>
              } @else {
                <button mat-raised-button 
                color="primary" 
                class="button-start mb-6 "
                (click)="openSignInDialog()"
                >
                Entrar
                 </button>
              }
        </menu>
        <figure class="flex items-center gap-4 md:flex-row-reverse">
            <figcaption>Churrascometro</figcaption>
            <img src="../../../assets/images/logo.jpg" class="size-16 rounded-2xl" alt="barbecue logo" [routerLink]="['/']"/> 
        </figure>
    </mat-toolbar-row>
</mat-toolbar>